<div
  class="bg-[url('https://s3-alpha-sig.figma.com/img/39a3/82cf/ee324cad12af2692cb715871704458aa?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=udCm8C9vKLLomsWly~BsEb48ZLZ9vpT93mCi83AL9aKM9NPED0nd27QPyZWORfb38ETnmB0j9MA0FxpwyGpHU14cxVFrrSjmk1r1oS~8NPDwEEszbdcRElYa8O~eqUbBhKP6Y3q-44Xj5J~gE~zZDOsxdtfx97GJbl5EdG2sU4zBzGa-8FkPD2IkqIi4DlJnMCsey9A9GWXsYjP7QIBEvpk~OCy3nbqjDg5Mkqiiwfw6DLNx11vVod4WoRJHg7uVc6kLHsqO~ZQrmsWt15C4VFd0eR2j5HDy9wi1eT0kNdKZm9BAK4mCWRJPQvBYCYVR4BO5YBpkJH1rRPTv1M1saA__')] bg-cover bg-center relative py-8 text-center text-white w-auto h-[477px] mx-auto rounded-md shadow-lg"
>
  <div class="absolute inset-0 bg-gradient-to-r from-yellow-400 to-orange-500 opacity-70 rounded-md"></div>
  <div class="relative z-10">
    <h1 class="text-3xl font-bold mb-2">{{ tituloPrincipal }}</h1>
    <p class="text-lg">{{ subtituloPrincipal }}</p>
  </div>
</div>


<div class="h-max bg-black text-center">
  <div class="bg-black py-8">
    <div class="container mx-auto text-center">
      <h2 class="text-2xl font-bold text-orange-500 mb-6">{{ tituloRelevantes }}</h2>
      <div class="grid grid-cols-4 grid-rows-3 gap-4 h-auto mx-auto max-w-6xl">
        <div *ngFor="let evento of eventosRelevantes" [ngClass]="evento.gridClasses"
             class="bg-white rounded-4xl shadow-md overflow-hidden cursor-pointer transition-transform transform hover:scale-105 duration-300">
          <img [src]="evento.imagen" [alt]="evento.nombre" class="w-full h-full object-cover rounded-4xl" />
        </div>
      </div>
    </div>
  </div>
</div>
